:root {
  font-family: 'Tektur', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --colorPrimary: #16213E;
  --colorSecondary: #0F3460;
  --colorTerceary: #533483;
  --colorRed: #E94560;
  --colorSoft-white: #f1f1f1;
  --colorWhite: #fefefe;
  --colorBlack: #111;
  --colorGray: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

