.sobre {
    width: 100%;
    min-height: 85vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 100px;
}

/*Foto e biografia*/
.bio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-block: 2.5rem;
    gap: 3rem;
}

.avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.txts {
    text-align: left;
    margin-top: 14px;
}

.description {
    display: flex;
    flex-direction: row;;
    gap: 50px; 
}

.descriptioneduc, .descriptiontech {
display: flex;
flex-direction: column;
justify-content: top;
align-items: center;
gap: 1rem;
padding-top: 2rem;
flex: 1; 
}

/*Formação acadêmica*/

.education {
    width: 400px;
    align-self: start;
    padding: 0.75rem;
    background-color: var(--colorSoft-white);
    color: var(--colorGray);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 #22222270;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}



/*Tecnologias e ferramentas*/

.icones {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.tecnologia {
display: flex;
flex-direction: column;
align-items: center;
width: 80px;
text-align: center;
}

.icone {
width: 40px;
height: 40px;
object-fit: contain;
transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.txt {
margin-top: 8px;
font-size: 0.9rem;
color: var(--colorGray);
}
  
.education:hover, .icone:hover {
    transform: translateY(-5px); 
}

@media (max-width: 968px) {
    .bio {
        flex-direction: column;
        padding-inline: 20px;
        gap: 1rem;
    }
    .avatar {
        max-width: 250px;
        max-height: 250px;
    }
    .description {
        display: flex;
        flex-direction: column;
        gap: 50px; 
      }
    .icones {
        grid-template-columns: auto auto auto auto auto ;
        gap: 2.5rem;
    }
}

@media (max-width: 560px) {
    .techs {
        padding-inline: 1rem;
    }
    .avatar {
        width: 200px;
        height: 200px;
    }
    .icones {
        padding-inline: 1rem;
        grid-template-columns: auto auto auto;
        gap: 2rem;
        margin-bottom: 2rem;
    }
}
