:root {
  font-family: 'Querial', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --colorPrimary: #134074;
  --colorSecondary: #13315C;
  --colorTerceary: #0B2545;
  --colorRed: #8DA9C4;
  --colorSoft-white: #EEF4ED;
  --colorWhite: #fefefe;
  --colorBlack: #111;
  --colorGray: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

